@CHARSET "UTF-8";

body
{
	background-color: #6C6C6C;
}

#align
{
	width: 990px;
	margin: 0px auto;
	border: 2px solid #B9B9B9;
	padding: 10px;
	background-color: #FFF;
}

table.images td, .box { border: 1px solid #B9B9B9; }
table.images td { padding: 10px; }

table.images
{
	width: 100%;
	border-collapse: collapse;
}

input { margin-left: 10px; }
