<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Gally - Admin</title>
	<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
	<link rel="stylesheet" type="text/css" href="css/admin.css" />
</head>
<body>

<div id="align">
	<form action="admin.php" method="post" style="width: 300px; margin: 0px auto;" class="box padding">
		<p>Username:</p>
		<input type="text" name="username" /> <br />
		<p>Password: </p>
		<input type="password" name="password" />
		<p><input type="submit" value="Login" /></p>
	</form>
</div>
</html>